* {
  font-family: Pretendard;
}

.Body {
  display: flex;
  flex-direction: column;
  /* background-color: #18191d; */
  padding: 60px 25px;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
}
