.EncateResult {
  background-color: #25282d;
  border-radius: 20px;
  padding: 18.5px 28.5px;
  margin-top: 26.58px;
  margin-bottom: 80px;
}

.EncateResult > p {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.EncateResult > ul {
  text-decoration: none;
  list-style: none;
  padding-left: 0;
  color: #ffffff;
  font-size: 14px;
}

.EncateResult > ul > li {
  margin-bottom: 24px;
}

.EncateResult > ul p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #aaaaaa;
}
