.EncateResult {
  background-color: #25282d;
  border-radius: 20px;
  padding: 28px;
  margin-top: 26.58px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.EncateResult > p {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.EncateResult > ul {
  text-decoration: none;
  list-style: none;
  padding-left: 0;
  color: #ffffff;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.EncateResult > ul p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #aaaaaa;
}
