.EnCateButton {
  background-color: #25282d;
  border-radius: 20px;
  padding: 21.9px 28px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  border: 0;
}

.EnCateButton > p {
  margin: 0;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
}

.EnCateButton > svg {
  height: 15px;
  color: #aaaaaa;
}
