.Logo {
  position: fixed;
  top: 60px;
  left: 60px;
  color: #ffffff;
}

.FourcutContainer {
  text-align: center;
  padding: 20px 20px;
  background: linear-gradient(135deg, #2c2f36, #1e1f24);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.ResultContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}

.FourCutImage {
  height: 700px;
  object-fit: contain;
  border-radius: 16px;
  padding: 10px;
  /* border: 50px solid #ffffff outset; */
}

.ButtonContainer {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.submitButton {
  background: #00e0ff;
  color: #0b0b0b;
  padding: 14px 40px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  transition: all 0.25s ease;
  box-shadow: 0 4px 14px rgba(0, 224, 255, 0.3);
  width: 200px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #c6e4e9;
  padding: 20px;
  border-radius: 1rem;
  width: 350px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
}

.modalInput {
  display: flex;
  width: 100%;
  font-size: 16px;
  padding: 20px;
  border: 0;
  outline: none;
  border-radius: 20px;
}

.modalButton {
  background: #00e0ff;
  color: #0b0b0b;
  padding: 14px 40px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  transition: all 0.25s ease;
  box-shadow: 0 4px 14px rgba(0, 224, 255, 0.3);
  width: 100%;
}
