* {
  font-family: Pretendard;
  box-sizing: border-box;
}

.Logo {
  margin: 32px;
}

.Body {
  width: 100%;
  padding: 0 4%;
}

.Body > h1 {
  color: white;
  font-size: 36px;
}

.box {
  display: flex;
  gap: 10px;
}
.result-container {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.test-mobile {
  background-color: #25282d;
  padding: 30px 50px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 26.58px;
  position: relative;
}

.test-mobile .title {
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin: 0;
  align-self: flex-start;
}

.test-mobile p {
  font-size: 14px;
  color: rgba(170, 170, 170, 1);
  align-self: start;
  margin: 4px 0px 12px 0px;
}

.test-mobile button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 0;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.test-mobile button > img {
  width: 40px;
  height: 40px;
}

.posts-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 49px;
  row-gap: 70px;
}

.QRContainer {
  position: fixed;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  background-color: #ffffff;
  border-radius: 20px;
  padding: 20px;
  width: 300px !important;
  height: 300px !important;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 1rem;
}
