* {
  font-family: Pretendard;
}

.Logo {
  margin: 32px;
}
.Body {
  margin: 0 10.05%;
}
.Body h1 {
  color: white;
  font-size: 36px;
}
.box {
  display: flex;
  gap: 20px;
}
.result-container {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.test-mobile {
  background-color: #25282d;
  padding: 26.86px 40.44px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 26.58px;
  position: relative;
}

.test-mobile .title {
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.test-mobile p {
  font-size: 14px;
  color: rgba(170, 170, 170, 1);
}

.test-mobile button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 0;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.test-mobile button > img {
  width: 40px;
  height: 40px;
}

.posts-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 49px;
  row-gap: 70px;
}

.QRContainer {
  position: fixed;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  background-color: #ffffff;
  border-radius: 20px;
  padding: 20px;
  width: 300px !important;
  height: 300px !important;
}
