.CaptureContainer {
  position: fixed;
  bottom: 20px;
  display: flex;
  column-gap: 30px;
  width: 100vw;
  overflow-x: auto;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
}

.CaptureContainer::-webkit-scrollbar {
  height: 8px;
}

.CaptureContainer::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
}

.CaptureContainer > button {
  border: 3px solid white;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.CaptureContainer > button:last-child {
  margin-right: 60px;
}

.DownloadContainer {
  display: flex;
  column-gap: 20px;
  align-items: center;
}

.DownloadContainer > button {
  padding: 13.5px 32.5px;
  border-radius: 10px;
  font-size: 20px;
  border: 0;
}

.DownloadContainer > button:first-child {
  background-color: #12ddff;
}

.DownloadContainer > button:last-child {
  background-color: #ffffff;
}
