.PhotoContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 20px 100px;
  row-gap: 30px;
}

.VideoContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.CaptureContainer {
  display: flex;
  column-gap: 30px;
  width: 100vw;
  overflow-x: auto;
  white-space: nowrap;
  align-items: flex-end;
  justify-content: center;
  z-index: 100;
}

.CaptureContainer::-webkit-scrollbar {
  height: 8px;
}

.CaptureContainer::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
}

.CaptureContainer > button {
  border: 3px solid white;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.CaptureContainer > button:last-child {
  margin-right: 60px;
}

.DownloadContainer {
  display: flex;
  column-gap: 20px;
  align-items: center;
}

.DownloadContainer > button {
  padding: 13.5px 32.5px;
  border-radius: 10px;
  font-size: 20px;
  border: 0;
}

.DownloadContainer > button:first-child {
  background-color: #12ddff;
}

.DownloadContainer > button:last-child {
  background-color: #ffffff;
}

.ToggleDownloadContainer {
  position: fixed;
  bottom: 20px;
}

@media print {
  @page {
    size: 80mm, 80mm;
    margin: 0;
  }
  body * {
    visibility: hidden;
  }
  .canvas,
  .canvas * {
    visibility: visible;
  }
  #jsCanvas {
    position: absolute;
    left: 50%;
    top: 45.1%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    border: none;
  }
}
