.PhotoContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 120px 20px 100px;
  row-gap: 30px;
}

.VideoContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.PhotoContainer svg,
.VideoContainer svg {
  z-index: 1000;
  width: 40px;
  height: 40px;
  left: 20px;
  top: 20px;
  position: fixed;
  color: #ffffff;
}

.CaptureContainer > button {
  border: 3px solid white;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.CaptureContainer > button:last-child {
  margin-right: 60px;
}

.DownloadContainer {
  display: flex;
  column-gap: 20px;
  align-items: center;
}

.DownloadContainer {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
}

.DownloadContainer > button {
  padding: 21px 16px;
  background-color: var(--color-bg-dark);
  border-radius: 20px;
  border: 0;
  width: 100%;
  color: #c2c2c2;
  font-size: 20px;
}

.ToggleDownloadContainer {
  position: fixed;
  bottom: 20px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #c6e4e9;
  padding: 20px;
  border-radius: 1rem;
  width: 350px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
}
