.post-container {
  display: flex;
  flex-direction: column;
  background-color: #25282d;
  padding: 28px 30px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  row-gap: 14px;
}

.post-container > img {
  height: 384px;
  width: 216px;
}

.post-container > .hashtagsContainer {
  display: flex;
  column-gap: 10px;
  background-color: transparent;
}

.hashtagsContainer > p {
  background-color: transparent;
}

.post-container > p {
  color: #ffffff;
  font-size: 14px;
  background-color: transparent;
}
