.totalUser {
  background-color: #25282d;
  color: white;
  border-radius: 20px;
  padding: 30px 50px;
  margin-top: 26.58px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.totalUser h1 {
  font-size: 18px;
  font-weight: bold;
  align-self: start;
  margin: 0;
}

.totalUser p {
  align-self: start;
  font-size: 14px;
  color: rgba(170, 170, 170, 1);
  margin: 4px 0px 12px 0px;
}

.totalUser .num {
  font-size: 85px;
  color: white;
  align-self: center;
  margin: 0;
  padding: 0;
}

.totalUser .postNum {
  font-size: 85px;
  color: #b3f4ff;
  align-self: center;
  margin: 0;
  padding: 0;
}
